<section x-show="$store.navigation.about">
    <h1>About</h1>
    <p>
        FmGeek is a minimalist and customizable progressive web application for listening to online radio stations. You
        can also install it as a browser app on your device.
    </p>
    <p>
        If you need inspiration on what to listen to, you can check out
        <a href="http://www.publicradiofan.com/" target="_blank">PublicRadioFan</a> and
        <a href="https://www.radio-browser.info/" target="_blank">RadioBrowser</a>. Please note that only HTTPS streams
        are supported.
    </p>
    <p>
        For bug reports and feature requests, please use the
        <a href="https://github.com/yavorfingarov/FmGeek/issues" target="_blank">issue tracker</a>. For questions,
        ideas, and other topics, please check out the
        <a href="https://github.com/yavorfingarov/FmGeek/discussions" target="_blank">discussions</a>.
    </p>
    <p>Happy listening!</p>
</section>
