<nav class="flex column center-align gap margin" x-show="$store.navigation.menu">
    <button class="flat padding no-margin" @click="$store.navigation.show('settings')">Settings</button>
    <button class="flat padding no-margin" @click="$store.navigation.show('about')">About</button>
    <button class="flat padding no-margin" @click="$store.navigation.show('privacy')">Privacy</button>
    <a href="https://github.com/yavorfingarov/FmGeek" target="_blank">
        <button class="flat padding no-margin">GitHub</button>
    </a>
</nav>
