<section x-show="$store.navigation.player" x-data="player">
    <h1 class="center no-overflow">
        <template x-if="$store.player.current?.website">
            <a
                class="no-decoration"
                target="_blank"
                rel="noopener norefferer nofollow"
                x-text="$store.player.current.name"
                :href="$store.player.current.website"
            >
            </a>
        </template>
        <template x-if="!$store.player.current?.website">
            <span x-text="$store.player.current?.name"></span>
        </template>
    </h1>
    <div class="flex center">
        <button class="flat no-padding no-margin no-hover-effect" @click="togglePlay()">
            <img class="pop" x-show="status.stopped" src="icons/play.svg" alt="Play" />
            <img class="pulse" x-show="status.loading" src="icons/dots.svg" alt="Loading" />
            <img class="pop" x-show="status.playing" src="icons/stop.svg" alt="Stop" />
        </button>
    </div>
    <audio
        x-ref="player"
        @play="onPlay()"
        @playing="onPlaying()"
        @stalled="onStalled()"
        @error="onError()"
        @pause="stop()"
        @timer-stop.window="stop()"
    ></audio>
    <p class="center smaller error" x-text="error"></p>
    <div class="flex center wrap smaller margin">
        <template x-for="(station, index) in recent" :key="station.name">
            <div class="no-overflow">
                <button class="flat padding no-margin" x-text="station.name" @click="selectStation(station)"></button>
                <template x-if="index < recent.length - 1">
                    <span>/</span>
                </template>
            </div>
        </template>
    </div>
    <template x-if="$store.settings.stations[0].name">
        <div class="flex space-evenly wrap">
            <template x-for="station in $store.settings.stations" :key="station.name">
                <button
                    class="flat padding no-margin no-overflow"
                    x-text="station.name"
                    @click="selectStation(station)"
                ></button>
            </template>
        </div>
    </template>
    <template x-if="$store.settings.stations[0].groupName">
        <template x-for="group in $store.settings.stations" :key="group.groupName">
            <div>
                <h2 class="center padding no-margin no-overflow" x-text="group.groupName"></h2>
                <div class="flex space-evenly wrap">
                    <template x-for="station in group.stations" :key="station.name">
                        <button
                            class="flat padding no-margin no-overflow"
                            x-text="station.name"
                            @click="selectStation(station, group.prependToStationName ? group.groupName : null)"
                        ></button>
                    </template>
                </div>
            </div>
        </template>
    </template>
</section>
