@import url("../node_modules/simpledotcss/simple.css");

html.light,
html.auto {
    color-scheme: light;
    --bg: #fefefe;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #898ea4;
    --accent: #0d47a1;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
    img {
        filter: opacity(75%);
    }
}

@mixin dark {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
    img {
        filter: invert(75%);
    }
}

html.dark {
    @include dark();
}

@media (prefers-color-scheme: dark) {
    html.auto {
        @include dark();
    }
}

html {
    scrollbar-gutter: stable;
}

body {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

main {
    padding-bottom: 1.5rem;
}

section {
    padding: 0;
    border: 0;
    margin: 0;
}

img {
    display: block;
    &.smaller {
        height: 32px;
        width: 32px;
    }
}

h1,
h2 {
    font-weight: 700;
    line-height: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

input,
select {
    width: 10em;
}

button.flat {
    color: var(--accent);
    background-color: inherit;
    border: none;
    &:hover {
        color: var(--accent-hover);
        background-color: inherit;
    }
    &.no-hover-effect:hover {
        color: var(--accent);
    }
}

textarea {
    font-family: var(--mono-font);
    height: 10em;
    overflow: auto;
    white-space: pre;
    resize: vertical;
}

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.center {
        justify-content: center;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.center-align {
        align-items: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.gap {
        gap: 1.5em;
    }
}

.padding {
    padding: 0.3em;
}

.no-padding {
    padding: 0 !important;
}

.margin {
    margin: 1.5em 0;
}

.no-margin {
    margin: 0 !important;
}

.center {
    text-align: center;
}

.smaller {
    font-size: 0.9em;
}

.error {
    color: var(--code);
}

.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-decoration {
    text-decoration: none;
}

[x-cloak] {
    display: none !important;
}
